@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/* corpo da página */

body {
  background-image: linear-gradient(90deg, #a09aec 35%, #6232b1 165%);
  font-family: "Libre Baskerville", serif;
  overflow: hidden;
  margin-bottom: 10vh;
  margin-top: 10vh;
}

header {
  display: flex;
  flex-flow: row wrap;
  font-family: "Libre Baskerville", serif;
  background-image: inherit;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  max-height: 10vh;
}

main {
  display: block;
  background-image: inherit;
  position: fixed;
  top: 10vh;
  bottom: 10vh;
  width: 100vw;
  max-height: 80vh;
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #a09aec;
  border: #aea8ff 2px solid;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  max-height: 10vh;
}

/* estilização do header e footer principais */

footer a {
  font-size: 11px;
  font-weight: 600;
  color: #050436;
  text-decoration: none;
}

footer a:hover {
  box-shadow: none;
}

#nav {
  display: inherit;
  flex-flow: inherit;
  justify-content: space-between;
  padding: 5px;
  min-width: 100vw;
}
#nav_name {
  justify-self: flex-start;
  padding: 5px;
  font-size: 16px;
  image-rendering: optimizeQuality;
}

#nav_links {
  display: inline-flex;
  justify-self: flex-end;
  justify-content: space-around;
  font-size: 12px;
  color: #050436;
  font-style: normal;
  text-decoration: none;
  flex-grow: 0;
  flex-shrink: 0;
}

#nav_links button {
  background-color: transparent;
  border: none;
}

#nav_links button:hover {
  border-radius: 5px;
  box-shadow: #4f5486 1px 1px 5px;
}

/* estilização do conteúdo index.html */

#titleport {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 3vh;
}

.avatar {
  image-rendering: optimizeQuality;
  border-radius: 50%;
  border: #ada8f8 3px solid;
  box-shadow: #4f5486 1px 1px 10px;
}

#title_avatar {
  max-height: 50vh;
	flex-grow: 0;
	flex-shrink: 0;
}

#title_texts {
  display: inherit;
  flex-flow: column wrap;
  justify-content: space-evenly;
  text-align: center;
  padding: 10px;
}

#title_texts h1 {
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  text-shadow: #4f5486 1px 3px 5px;
}

#title_texts p {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-shadow: #4f5486 1px 3px 5px;
}

#botoes_ini {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  padding: 10px;
  position: fixed;
  bottom: 10vh;
  left: 0;
  right: 0;
}

#botoes_ini button {
  color: black;
  text-align: center;
  background-color:#a09aec;
  border-color: #a09aec;
  border: #a09aec 2px solid;
  border-radius: 5px;
  box-shadow: #4f5486 1px 1px 10px;
  margin: 5px;
}

#botoes_ini button:hover {
  color: white;
  background-color: #4f5486;
  border-color: #4f5486;
  box-shadow: #4f5486 1px 1px 10px;
}

/* estilização do conteúdo formacoes.html */



/* estilização do conteúdo hobbies.html */



/* estilização do conteúdo experiencias.html */



/* estilização do conteúdo contato.html */